@using LibraryManagementSystem.Models.ViewModel
@model BorrowedBooksViewModel

@{
    ViewData["Title"] = "Create Update Borrowed Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 pt-3">
    <div>
        <form id="createUpdateForm">
            <div class="text-left">
                @if (Model.BorrowID == 0)
                {
                    <h3 class="">Add Borrow Book</h3>
                }
                else
                {
                    <h3 class="">Update Borrow Book</h3>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row g-3">
                        <input id="borrowID" name="borrowID" value="@Model.BorrowID" type="hidden" />

                        @if (Model.BorrowID == 0)
                        {
                            <div class="col-lg-6 col-md-6">
                                <label for="memberID">Member</label>
                                <select id="memberID" class="form-control" data-toggle="select">
                                    <option value=0 selected>Select Member</option>
                                    @foreach (var member in @ViewBag.Members)
                                    {
                                        <option value=@member.MemberID>@member.FirstName @member.LastName</option>
                                    }
                                </select>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-6 col-md-6">
                                <label for="memberID">Member</label>
                                <select id="memberID" class="form-control" data-toggle="select">
                                    <option value=0>Select Member</option>
                                    <option value=@Model.MemberID selected>@Model.MemberName</option>
                                    @foreach (var member in @ViewBag.Members)
                                    {
                                        if (@member.MemberID != @Model.MemberID)
                                        {
                                            <option value=@member.MemberID>@member.FirstName @member.LastName</option>
                                        }
                                    }
                                </select>
                            </div>
                        }

                        @* <div class="col-md-6">
                            <label for="title">Title <label style="color: red; font-weight: bold;">*</label></label>
                            <input id="title" name="title" value="@Model.Title" placeholder="Title" type="text" class="form-control" />
                        </div>

                        
                        

                        <div class="col-md-6">
                            <label for="publishedDate">Published Date</label>
                            <input id="publishedDate" name="publishedDate" value="@Model.PublishedDate" placeholder="Published Date" type="date" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label for="availableCopies">Available Copies</label>
                            <input id="availableCopies" name="availableCopies" value="@Model.AvailableCopies" placeholder="Available Copies" type="number" class="form-control" />
                        </div> *@

                        

                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="text-center pb-3">
        <button type="button" onclick="Save()" class="btn btn-primary"><i class="fa fa-save" style="font-size:13px;color:white"></i> Save</button>
        <button type="button" onclick="ClearForm()" class="btn btn-primary"><i class="fa fa-undo" style="font-size:13px;color:white"></i> Clear</button>
        <button type="button" onclick="BackToList()" class="btn btn-primary"><i class="fa fa-backward" style="font-size:13px;color:white"></i> Back</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });

    function Save() {
        $("#createUpdateForm").validate({
            rules: {
                title: "required",
            },
            messages: {
                title: "Title is required !!",
            },
            errorElement: "div"
        });

        if ($("#createUpdateForm").valid()) {

            var createObj = {
                BookID: $('#bookID').val(),
                Title: $('#title').val(),
                ISBN: $('#iSBN').val(),
                AuthorID: $('#authorID').val(),
                PublishedDate: $('#publishedDate').val(),
                AvailableCopies: $('#availableCopies').val(),
                TotalCopies: $('#totalCopies').val()
            };

            var model = JSON.stringify(createObj);

            $.ajax({
                type: "POST",
                url: "/Books/CreateUpdateBook",
                data: model,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.output === "Success") {
                        alert(response.message);
                        window.location.href = "/Books/Index";
                        return false;
                    }
                    else {
                        alert(response.message);
                        return false;
                    }
                },
                error: function (respose) {
                    alert(response.message);
                    return false;
                },
            });
        }
    }

    function ClearForm() {
        $('#title').val("");
        $('#iSBN').val("");
        $('#authorID').val("");
        $('#publishedDate').val("");
        $('#availableCopies').val("");
        $('#totalCopies').val("");
        $("#createUpdateForm").validate().resetForm();
    }

    function BackToList() {
        window.location = "/Books/Index";
    }
</script>

<style type="text/css">
    .error {
        border-color: red !important;
        display: block;
    }

    div.error {
        color: red;
        display: inline;
        float: left;
    }
</style>